<% @designs.each do |design| %>
  <li class="mas-box">
    <div class="image-wrapper">
      <%= link_to design_path(design), remote: true, class: 'image' do %>
        <%= image_tag design.image.url(:gallery) %>
      <% end %>
      <div class="info">
        <h3 class="title"><%= link_to design.title, design_path(design), remote: true %></h3>
        <div class="icons">
          <%= edit_icon(edit_design_path(design)) %>
          <%= destroy_icon(design) %>
        </div>
      </div>
    </div>
    <ul class="custom-tags">
      <% design.custom_tag_list.each do |tag| %>
        <li><%= link_to tag, search_path(tag_search: tag), class: 'tag' %></li>
      <% end %>
    </ul>
  </li>
<% end %>
