<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <p>
      <strong>Title:</strong>
      <%= @design.title %>
    </p>

    <p>
      <strong>Image:</strong>
      <%= image_tag(@design.image.url) %>
    </p>

    <p>
      <strong>Memo:</strong>
      <%= @design.memo %>
    </p>

    <p>
      <strong>Tags:</strong>
      <% @design.custom_tag_list.each do |tag| %>
        <span><%= tag %></span>
      <% end %>
    </p>

    <%= link_to 'Edit', edit_design_path(@design) %>
  </div>
</div>
