<p id="notice"><%= notice %></p>

<ul id="masonry-container">
  <% @designs.each do |design| %>
    <li class="mas-box">
      <h2><%= design.title %></h2>
      <%= image_tag(design.image.url(:thumbnail)) %>
      <p>
        <% design.color_tag_list.each do |tag| %>
          <span><%= tag %></span><br>
        <% end %>
      </p>
      <span><%= link_to 'Show', design %></span>
      <span><%= link_to 'Edit', edit_design_path(design) %></span>
      <span><%= link_to 'Destroy', design, method: :delete, data: { confirm: 'Are you sure?' } %></span>
    </li>
<% end %>
</ul>

<%= link_to 'New Design', new_design_path %>
