<p id="notice"><%= notice %></p>

<ul id="masonry-container">
  <li class="mas-box new">
    <div class="image-wrapper">
      <%= link_to new_design_path, class: 'image' do %>
        <%= image_tag 'new_design.png' %>
      <% end %>
    </div>
  </li>
  <% @designs.each do |design| %>
    <li class="mas-box">
      <div class="image-wrapper">
        <%= link_to design_path(design), class: 'image' do %>
          <%= image_tag design.image.url(:gallery) %>
        <% end %>
        <div class="info">
          <h2 class="title"><%= link_to design.title, design_path(design) %></h2>
          <div class="icons">
            <%= edit_icon(edit_design_path(design)) %>
            <%= destroy_icon(design) %>
          </div>
        </div>
      </div>
      <ul class="custom-tags">
        <% design.custom_tag_list.each do |tag| %>
          <li><%= link_to tag, search_path(tag_search: tag), class: 'tag' %></li>
        <% end %>
      </ul>
    </li>
<% end %>
</ul>
