<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @design.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@design.image.url) %>
</p>

<p>
  <strong>Tags:</strong>
  <% @design.custom_tag_list.each do |tag| %>
    <span><%= tag %></span>
  <% end %>
</p>

<%= link_to 'Edit', edit_design_path(@design) %> |
<%= link_to 'Back', designs_path %>
