<!DOCTYPE html>
<html>
<head>
  <title>ColorAlbum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= form_tag '/search', method: :get do %>
      <p>
        <%= text_field :tag_search, params[:tag_search] %>
        <%= submit_tag '検索' %>
      </p>
    <% end %>

    <ul>
      <li>ほげ</li>
      <li>ほげ</li>
      <li>ほげ</li>
      <li>ほげ</li>
      <li>ほげ</li>
    </ul>
  </nav>

  <main><%= yield %></main>

</body>
</html>
