<!DOCTYPE html>
<html>
<head>
  <title>ColorAlbum</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= form_tag search_path, method: :get do %>
      <%= text_field_tag :tag_search, params[:tag_search], placeholder: 'タグ検索' %>
    <% end %>

    <ul class="custom-tags">
      <% ActsAsTaggableOn::Tag.most_used(30).select{ |tag| tag.taggings_count > 0 }.each do |tag| %>
        <li><%= link_to tag, search_path(tag_search: tag.name), class: 'tag' %></li>
      <% end %>
    </ul>
  </nav>

  <main>
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>

    <%= yield %>
  </main>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
